.git
.github
**/.env
**/.env.*
**/.next
**/.venv
**/__pycache__
**/node_modules
**/*.pyc
docs
deploy
perum-core
!perum-core
perum-core/*
!perum-core/app
perum-core/app/*
!perum-core/app/__init__.py
!perum-core/app/scanner_relay.py
perum-mobile
perum-tenant
